# build and IDE specific
build/
out/
.vs/
.vscode/
bin/
obj/
vcpkg_installed/

# compiled binaries (global)
*.exe
*.out
*.app
*.o
*.obj
*.slo
*.lo
*.so
*.dylib
*.dll
*.lib
*.a
*.la
*.lai
*.pdb
*.ilk

# render outputs (ignore)
*.ppm
*.png
*.jpg
output/
screenshots/

# assets & textures
!assets/
!media/
!assets/**/*.png
!assets/**/*.jpg
!assets/**/*.hdr
!assets/**/*.obj
!media/**/*.png
!media/**/*.jpg

# OIDN structure preservation
libs/oidn/**

!libs/oidn/bin/
!libs/oidn/lib/
!libs/oidn/include/

!**/.gitkeep

# temporary/misc
*.d
*.gch
*.pch
*.mod
*.smod
.DS_Store
Thumbs.db
