# build and IDE specific
build/
out/
.vs/
.vscode/
bin/
obj/
vcpkg_installed/

# compiled binaries (global)
*.exe
*.out
*.app
*.o
*.obj
*.slo
*.lo
*.so
*.dylib
*.dll
*.lib
*.a
*.la
*.lai

# OIDN structure preservation
!libs/oidn/
!libs/oidn/bin/
!libs/oidn/lib/
!libs/oidn/include/

!**/ .gitkeep

# assets & textures
!assets/
!assets/**/*.png
!assets/**/*.jpg
!assets/**/*.hdr
!assets/**/*.obj

# render outputs (igonre)
*.ppm
*.png
*.jpg
/output/
/screenshots/

# temporary/misc
*.d
*.gch
*.pch
*.mod
*.smod