#CMake build folder
build/
out/

# Vcpkg specific
vcpkg_installed/

# User-specific/IDE
.vs/
.vscode/
bin/
obj/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Engine specific
*.ppm
*.png
*.jpg

/output